#body{
    background: url('/css/index.png');
    background-size: 100% 100%;
    top: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#login{
    background-color: white;
    margin-left: 380px;
    top: 110px;
    text-align: center;
    height: 400px;
    width: 600px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, .2), 5px 3px 5px rgba(0, 0, 0, .2);
    border-radius: 20px;
    opacity: .9;
}
.form-login{
    margin-left: 65px;
}
#nome{
    margin-top: 30px;
    width: 470px;
}
#senha{
    width: 470px;
}
button:hover{
    transition: 2s;
}